<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">

    <h1>This is home page for my website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quaerat ratione, possimus quam amet eum natus sed et commodi voluptatibus recusandae magni veniam accusantium corporis laborum eveniet architecto mollitia libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum consequuntur saepe quos hic veritatis blanditiis nisi sunt sit atque nesciunt, expedita fuga optio mollitia dolor sed quia eveniet laudantium.</p>
    
</body>
</html>